.profile-container {
  width: 372px;
  height: 713px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #e0e0e0;
}

.header {
  height: 306px;
  background-image: url('./img/top-bg.jpg');
  position: relative;
}

.avatar {
  clip-path: circle(100px at center);
  position: absolute;
  left: 86px;
  top: 163px;
}
